.DivCenter {
  width: fit-content;
  margin: auto;
}
.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Reset {
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 4;
}
.Result {
  margin-top: 20px;
  text-align: center;
  text-decoration: solid;
}
